node_modules
out
tmp-uploads
.env
.env.example
.git
.gitignore
*.log
.DS_Store
README.md
.agents
.claude
public/altenhofen
public/grub
public/horizontal*
public/immoconsult
public/kamine
public/kuhn
public/malerbetrieb
public/meralux
public/neuhaeuser
public/sb-bagger
public/schuster
public/wohnbau
public/epo
configs/horizontal*.json
